#__init__.py file
/__init__.py/
**/__init__.py
chatbot/__init__.py


# _pycache file
__pycache__/
*/__pycache__/

# Ignore Django migrations
migrations/
*/migrations/
!*/migrations/__init__.py  # Keep the __init__.py file

# Ignore environment files
.env
suissma_env/
venv/

#add media file
media/
*/media/
